@import "fonts.scss";
* {
  font-family: "HT Rakik Display";
}

body {
  margin: 0;
  overflow: hidden;
  background: black;
}

.slides {
  width: 100vw;
  height: 100vh;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
}
.bg {
  background: linear-gradient(
    180deg,
    rgba(16, 133, 157, 0.8) 0%,
    rgba(15, 35, 40, 0.8) 81.51%
  );
}
.slide {
  display: flex;
  height: 100vh;
  color: white;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  position: relative;

  .content {
    position: absolute;
    top: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  width: 100vw;
  height: 85vh;
  padding: 2rem 5rem;
  h1 {
    font-size: 4.75rem;
    font-weight: 700;
  }
  p {
    font-size: 2.5rem;
  }
}
.slide::before {
  display: block;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.slide h2 {
  position: relative;
  opacity: 0;
  transition: all 600ms ease;
  transition-delay: 300ms;
}

.slide.active h2 {
  opacity: 1;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  button {
    margin: 0 5px;
    cursor: pointer;
  }
}

.dots {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 25%;
  right: 20px;
  height: 50vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  transition: all 2s ease-in-out;
  overflow: hidden;
  z-index: 555;
  &::before {
    font-size: 26px;
    content: " ";
    background: url("../images/line.svg") center/contain no-repeat;
    height: 100%;
    top: -10px;
    right: 0px;
    width: 10px;
    position: absolute;
  }

  li {
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    button {
      color: rgba(255, 255, 255, 0.432);
      border: 0;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      padding: 20px;
      text-align: right;
      position: relative;
    }
  }

  /* Select the li that has an active li as its next sibling */
  li:has(+ li.active) {
    /* Your styles here */
    display: flex;
    opacity: 1;
  }

  /* Select the li that has an active li as its previous sibling */
  li.active + li {
    /* Your styles here */
    display: flex;
    opacity: 1;
  }

  li.active {
    display: flex;
    opacity: 1;
    button {
      color: white;
    }
  }
}

.bgVed {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  z-index: -1;
}

.AboutUsContent {
  height: 100vh;
  width: 100%;
  padding: 0 0 0 6vw;
  justify-content: start !important;
}

.AboutUs {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 60vh;
  width: 70vw;
  h2 {
    margin-bottom: 0.5rem;
    img {
      width: 7rem;
    }
  }
  p {
    width: 80%;
    font-size: 1.2rem;
    text-align: justify;
  }
  button {
    border-radius: 0.375rem;
    border: 1px solid #fff;
    width: 12.5rem;
    padding: 1.125rem 1.75rem;
    font-size: 0.9rem;
    color: white;
    margin-top: 2rem;
  }
}
.E_services_content {
  width: 70vw;
  height: 80vh;
  margin-left: 6vw;
  padding-top: 20vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* hide the scrollbar for IE and Edge */
  scrollbar-width: none; /* hide the scrollbar for Firefox */
  &::-webkit-scrollbar {
    display: none; /* hide the scrollbar */
  }
  img {
    width: 18vw;
  }
  .E_services {
    margin-top: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    grid-auto-flow: row;

    .Card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 0.375rem;
      border: 1px solid rgba(255, 255, 255, 0.1);
      height: 25vh;
      gap: 15px;
      p {
        font-size: 1rem;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        width: 80%;
      }
      img {
        width: 20%;
      }
    }
  }
}
.Interactive_map {
  margin-inline-start: 6vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 85vh;
  img {
    width: 50%;
    position: absolute;
    top: 7vh;
    transform: rotate(25deg);
  }
  .text {
    top: -5vh;
    z-index: 1;
    position: relative;
    h3 {
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 700;
    }
    p {
      font-size: 1.2rem;
      width: 75%;
      text-align: justify;
    }
  }
}

.News {
  padding-top: 20vh;
  .NewsSwiper {
    height: 70vh;
    width: 80vw;
    margin: auto 0px;
    transform: translateX(-10vw);
    .slide {
      height: 80%;
      border-radius: 0.375rem;
      background: #fff;
      box-shadow: 0px 4px 24px 0px rgba(57, 151, 151, 0.4);
      padding: 2rem;
      gap: 0.8rem;
      flex-direction: column;
      h4 {
        color: #0f2328;
        font-weight: 700;
        font-size: 1.3rem;
      }
      p {
        color: #646464;
        font-size: 1.05rem;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      top: 90%;
      &::after {
        font-size: 1.5rem;
        filter: grayscale(1) brightness(2);
      }
    }
    .swiper-button-prev {
      right: auto;
      left: 20vw;
    }
    .swiper-button-next {
      left: 15vw;
    }
  }
}
.Partners {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0vw 5vw;
  padding-top: 20vh;
  gap: 1rem;
  .img {
    // border: 1px solid red;
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 20%;
    height: 15vh;
    justify-content: center;
    img {
      height: 100%;
    }
  }
}
.dialog {
  width: 100vw;
  height: 100vh;
  margin: 1vw;
  position: absolute;
  z-index: 9999;
  top: 0px;
  .xIcon {
    margin-block: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
  }
  .dialogContent {
    background-color: white;
    border-radius: 5px;
    width: 98vw;
    height: 90vh;
  }
}
